/* Taruh CSS Custom Disini */
.bg-body-secondary{
    background-color: rgb(20, 136, 190) !important;
}
.app-content-header{
    background-color: rgb(255, 218, 95) ;
}
.app-content{
    background-color: rgb(255, 218, 95) ;
}
.app-main{
    background-color: rgb(255, 218, 95) ;
}
.app-header{
    background-color: rgb(255, 218, 95) ;
}